<%- include("includes/head.ejs") %>

<body>
    <h1>This is Home EJS or Template </h1>
    <h2>Clacluation <%=  5*6  %> </h2>

    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi labore modi libero praesentium quasi quidem sint? Commodi saepe veritatis optio. Doloremque enim fugit laboriosam possimus ab, reiciendis explicabo ducimus eius temporibus odit, corporis aliquam sed adipisci! Quo deserunt natus ut iure odio. Delectus, dicta unde!</h5>
    <%- include("includes/footer.ejs") %>
</body>
</html>